@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

/* */

/* html.dark {
    background-color: white !important;
  } */
  body {
    background-color: white!important;
   
  }

  *{
    font-family: Poppins;
    
  }